.navbar {
    background-color: #e2d4cb !important;
    padding: 1rem !important;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navbar-nav .nav-link {
    color: #333 !important;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: #666 !important;
}

footer {
    background-color:  #e2d4cb !important;
    padding: 1rem !important;
}

footer p {
    color: #333 !important;
}

footer .list-inline {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer .list-inline-item a {
    color: #333 !important;
}

footer .list-inline-item a:hover {
    color: #666 !important;
}

main {
    margin: 2rem;
}

/* Global button styles (excluding shopping cart, navbar, and search) */
button:not(.navbar button):not(.search-button):not(.btn-danger),
.btn:not(.navbar .btn):not(.search-button):not(.cart_button):not(.btn-danger) {
    background-color: #91a58d !important;
    color: #ffffff !important;
    transition: all 0.3s ease;
}

/* Hover styles */
button:not(.navbar button):not(.search-button):not(.btn-danger):hover,
.btn:not(.navbar .btn):not(.search-button):not(.cart_button):not(.btn-danger):hover {
    transform: scale(1.02);
    background-color: #b6b6a3 !important;
}


/* Card hover effect */
.card:not(.register-card):not(.team-card) {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:not(.register-card):not(.team-card):hover {
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
    background-color: #fbf7f3;
}
